.body_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    background-color: #f9f9f9;
}

.menu {
    width: 80%;
}

.menu_list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.menu_element {
    list-style: none;
    text-align: center;
    width: 180px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.menu_element:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.imgStyle {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.menu_element p {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}



/* Ber de Recherche */


.recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 10px; /* Espace entre le champ de recherche et le bouton */
    
}

/* Style de l'input de recherche */
.rechercher {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px; /* Taille de l'input */
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease;
}

.rechercher:focus {
    border-color: #007BFF; /* Changement de couleur au focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Style du bouton de recherche */
.recherche button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.recherche button:hover {
    background-color: #0056b3; /* Changement de couleur au survol */
}

/* Responsivité */
@media (max-width: 768px) {
    .rechercher {
        width: 80%; /* La barre de recherche prend plus de place sur les écrans plus petits */
    }
    .recherche button {
        padding: 8px 16px; /* Réduit la taille du bouton sur mobile */
    }
}

@media (max-width: 480px) {
    .rechercher {
        width: 70%; /* Taille plus petite pour les très petits écrans */
    }
    .recherche button {
        width: 100%; /* Le bouton prend toute la largeur sur mobile */
        margin-top: 10px;
    }
}